<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto No encontrado</title>
    <p>El producto no fue encontrado, no se podrá eliminar</p>
</head>
<body>
    
</body>
</html>