<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listado de Productos</h1>
    <% for(i=0; i<jsonProductos.length; i++){ %>
      <p><%= jsonProductos[i].nombre%> <a href="localhost:3000"></a></p>

  <% }%>
  </body>
</html> -->
