<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>

    <form action="" method="POST">
        
        <p>
            <label for="id">ID</label>
            <input type="number" name="id" id="id">
        </p>

        <p>
            <label for="nombre">Nombre Producto</label>
            <input type="text" name="nombre" id="nombre">
        </p>

        <p>
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio">
        </p>

        <p>
            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion" id="descripcion">
        </p>

        <p>
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca">
        </p>

        <p>
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock">
        </p>

       <input type="submit" value="Aceptar">

    </form>
    
    
</body>
</html>